<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="doctorinfo.css">
    
</head>
<body>
    <br><br><br><br><br>
    <div class="container">
        <div class="image-section">
            <img src="	https://brijeshbangerhospital.com/images/d2.jpg" alt="Doctor Image">
        </div>
        <div class="info-section">
            <h2>Dr. Naresh Khandelwal</h2>
            <p><strong>Specialty:</strong> Sr. Consultant Physician</p>
            <p>​Dr. Naresh Khandelwal is a Senior Consultant Physician specializing in internal medicine at Brijesh Banger Memorial Hospital (BBMH) in Bhilwara, Rajasthan. Holding an MD in Medicine, he offers extensive expertise in diagnosing and managing various medical conditions</p>
            <p><strong>Education:</strong> MBBS in Internal Medicine</p>
            
            <button onclick="window.history.back()">Back</button>
            
        </div>
    </div>

    <script src="doctorinfo.js"></script>
    
</body>
</html>