
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="doctorinfo.css">
    
</head>
<body>
    <br><br><br><br><br>
    <div class="container">
        <div class="image-section">
            <img src="	https://brijeshbangerhospital.com/images/d7.jpg" alt="Doctor Image">
        </div>
        <div class="info-section">
            <h2>Dr.K. D. Chakravarty</h2>
            <p><strong>Specialty:</strong> MBBS, MS-General Surgery
                Gastroenterologist</p>
            <p>​Dr. K. D. Chakravarty is a gastroenterologist practicing at Brijesh Banger Memorial Hospital (BBMH) in Bhilwara, Rajasthan</p>
            <p><strong>Education:</strong> MBBS and an MS in General Surgery</p>
            
            <button onclick="window.history.back()">Back</button>
            
        </div>
    </div>

    <script src="doctorinfo.js"></script>
    
</body>
</html>
